<?xml version="1.0"?>
<config>
    <modules>
        <Uni_Opcheckout>
            <version>0.1.2</version>
        </Uni_Opcheckout>
    </modules>
    <frontend>
        <routers>
            <opcheckout>
                <use>standard</use>
                <args>
                    <module>Uni_Opcheckout</module>
                    <frontName>opcheckout</frontName>
                </args>
            </opcheckout>
        </routers>
        <layout>
            <updates>
                <opcheckout>
                    <file>opcheckout.xml</file>
                </opcheckout>
            </updates>
        </layout>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <opcheckout_save_order_comment>
                        <type>helper</type>
                        <class>Uni_Opcheckout_Helper_Data</class>
                        <method>setOrderCommentCompatible1</method>
                    </opcheckout_save_order_comment>
                </observers>
            </checkout_type_onepage_save_order>      
            <checkout_type_onepage_save_order_after>
                <observers>
                    <opcheckout_save_order_comment>
                        <type>helper</type>
                        <class>Uni_Opcheckout_Helper_Data</class>
                        <method>setOrderCommentCompatible2</method>
                    </opcheckout_save_order_comment>
                </observers>
            </checkout_type_onepage_save_order_after>      
            <sales_model_service_quote_submit_after>
                <observers>
                    <opcheckout_service_quote_submit_order_comment>
                        <type>helper</type>
                        <class>Uni_Opcheckout_Helper_Data</class>
                        <method>setOrderCommentCompatible2</method>
                    </opcheckout_service_quote_submit_order_comment>
                </observers>
            </sales_model_service_quote_submit_after>     
        </events>
        <translate>
            <modules>
                <opcheckout>
                    <files>
                        <default>Uni_Opcheckout.csv</default>
                    </files>
                </opcheckout>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <opcheckout>
                            <title>Opcheckout Module</title>
                            <sort_order>10</sort_order>
                        </opcheckout>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <opcheckout>
                                            <title>OPCheckout</title>
                                        </opcheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <admin_system_config_changed_section_opcheckout>
                <observers>
                    <opcheckout_save_config>
                        <type>helper</type>
                        <class>Uni_Common_Helper_Data</class>
                        <method>sc</method>
                        <args>
                            <config><![CDATA[opcheckout/general/license]]></config>
                        </args>                        
                    </opcheckout_save_config>
                </observers>
            </admin_system_config_changed_section_opcheckout>
        </events>
    </adminhtml>
    <global>
        <blocks>
            <opcheckout>
                <class>Uni_Opcheckout_Block</class>
            </opcheckout>
            <adminhtml>
                <rewrite>
                    <sales_order_view_items>Uni_Opcheckout_Block_Adminhtml_Sales_Order_View_Opcheckoutcomment</sales_order_view_items>
                </rewrite>
            </adminhtml>
            <sales>
                 <rewrite>
                    <order_view>Uni_Opcheckout_Block_Sales_Order_View</order_view>
                 </rewrite>
            </sales>
        </blocks>
        <models>
            <opcheckout>
                <class>Uni_Opcheckout_Model</class>
            </opcheckout>
            <paypal>
                <rewrite>
                    <api_nvp>Uni_Opcheckout_Model_Paypal_Api_Nvp</api_nvp>
                </rewrite>
            </paypal>
        </models>
        <helpers>
            <opcheckout>
                <class>Uni_Opcheckout_Helper</class>
            </opcheckout>
        </helpers>
        <resources>
            <opcheckout_setup>
                <setup>
                    <module>Uni_Opcheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </opcheckout_setup>
            <opcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </opcheckout_write>
            <opcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </opcheckout_read>
        </resources>
    </global>
    <default>
        <opcheckout>
            <general>
                <enabled>0</enabled>
            </general>
            <order>
                <opcheckout_title>Welcome to OPcheckout</opcheckout_title>
                <opcheckout_desc>Complete your order in a single step by entering your details below.</opcheckout_desc>
                <opcheckout_newsletter_subscribe>1</opcheckout_newsletter_subscribe>
                <newsletter_checked_bydefault>1</newsletter_checked_bydefault>
                <opcheckout_order_comment>1</opcheckout_order_comment>
                <opcheckout_order_comment_length>150</opcheckout_order_comment_length>
                <enable_cart_link>1</enable_cart_link>
            </order>
            <billing_fields_setting>
                <telephone>1</telephone>
            </billing_fields_setting>
            <shipping_fields_setting>
                <telephone>1</telephone>
            </shipping_fields_setting>
        </opcheckout>
    </default>
</config>